<div class="user_form">
  <p class="user_form_title">アカウント情報編集</p>

  <%= form_with model: @user do |f| %>
    <div class="row mb-3">
      <%= f.label :name, "アカウント名", class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= f.text_field :name, autocomplete: "name:", class: "form-control", autofocus: true, placeholder: "アカウント名を入力" %>
      </div>
    </div>

    <div class="row mb-3">
      <%= f.label :password, "パスワード", class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "パスワードを半角英数字６文字以上で入力" %>
      </div>
    </div>

    <div class="row mb-3">
      <%= f.label :password_confirmation, "パスワード確認", class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "パスワードを再度入力" %>
      </div>
    </div>

    <div class="row mb-3">
      <%= f.label :sex, "性別", class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= f.radio_button :sex, '男性', class: "form-check-input" %>
        <%= f.label :sex_male, '男性', class: "form-check-label" %>

        <%= f.radio_button :sex, '女性', class: "form-check-input" %>
        <%= f.label :sex_female, '女性', class: "form-check-label" %>

        <%= f.radio_button :sex, 'その他', class: "form-check-input" %>
        <%= f.label :sex_other, 'その他', class: "form-check-label" %>
      </div>
    </div>

    <%= f.submit "変更を保存する", class: "user_form_btn" %>
  <% end %>
</div>
